<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uni.mannheim.teamproject.diabetesplaner">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:name=".Utility.AppGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".UI.EntryScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.Settings.SettingsActivity"
            android:parentActivityName=".UI.EntryScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter android:label="Pref" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>




        <activity android:name=".UI.Settings.HelpActivity"
            android:parentActivityName=".UI.EntryScreenActivity"
            android:screenOrientation="portrait"
            >


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.EntryScreenActivity" />

        </activity>
















        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".TechnicalServices.Accelerometer" />
        <service android:name=".TechnicalServices.GPS_Service.GPS_Service" />

        <receiver
            android:name=".TechnicalServices.Wifi"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".TechnicalServices.Wifi$WifiActiveService"
            android:exported="false" />

        <service
            android:name=".DataMining.PredictionService"
            android:exported="false"/>
        <service
            android:name=".UI.ActivityInput.FileLoadingService"
            android:exported="false"/>

        <service
            android:name=".DataMining.Recommendation.BSInputRecommendation"
            android:exported="false" />
        <service
            android:name=".DataMining.Recommendation.ActivityRecommendation"
            android:exported="false" />
        <service
            android:name=".DataMining.Recommendation.FoodRecommendation"
            android:exported="false" />
        <service
            android:name=".DataMining.Recommendation.SensorsRecommendation"
            android:exported="false" />
    </application>

</manifest>